<table class="table table-striped">
  <thead class="thead-dark">
  <tr>
    <th>Nom de l'hotel</th>
    <th>Piscine ?</th>
    <th>Nombre de chambre</th>
    <th>Détail de l'hôtel</th>
    <th>Modifier l'hôtel</th>
    <th>Supprimer</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let hotel of hotels">
    <td> {{hotel.name}}</td>
    <td>{{hotel.pool}}</td>
    <td>{{hotel.roomNumbers}}</td>
    <td><a [routerLink]="hotel.id"><img src="../../assets/loupe.png" alt="loupe" class="icon"/></a></td>
    <td><a [routerLink]="hotel.id + '/edit'"><img src="../../assets/edit.png" alt="edit" class="icon"/></a></td>
    <td><a [routerLink]="hotel.id + '/delete'"><img src="../../assets/delete.png" alt="delete" class="icon"/></a></td>
  </tr>
  </tbody>
</table>
