<table class="table table-striped">
  <thead class="thead-dark">
  <tr>
    <th>Nom</th>
    <th>Pool</th>
    <th>RoomNumbers</th>
    <th>rooms</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>{{hotel.name}}</td>
    <td>{{hotel.pool}}</td>
    <td>{{hotel.roomNumbers}}</td>
    <td><a [routerLink]="'/rooms/'"><img src="../../assets/loupe.png" alt="loupe" class="icon"/></a></td>
    <td><img src="../../assets/edit.png" alt="edit" class="icon"/></td>
    <td><img src="../../assets/delete.png" alt="delete" class="icon"/></td>
  </tr>
  </tbody>
</table>
