<h1>Modifier votre hôtels</h1>

<form [formGroup]="myForm" (ngSubmit)="sendform()">
  <div class="form-group">
    <label>
      Nom de l'hôtel
      <input type="text" formControlName="name">
    </label>
  </div>
  <div class="form-group">
    <label>
      Piscine ?
      <input type="checkbox" formControlName="pool">
    </label>
  </div>
  <div class="form-group">
    <label>
      Nombre de chambre
      <input type="number" formControlName="roomNumbers">
    </label>
  </div>
  <button type="submit">Valider</button>
</form>
